{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Protected Page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam fugit ipsum unde obcaecati, iure voluptatum cupiditate. Perferendis fugit quod, natus molestiae est quaerat hic cum iste veniam eveniet officia amet harum in necessitatibus vitae, consequuntur rerum fuga soluta praesentium cupiditate velit ut? Deserunt unde iste suscipit placeat delectus aperiam fuga?</p>
        <a class="home-lnk" href="{% url 'home' %}">Go To Home</a>
    </div>
</body>
</html>