{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
     {% comment %} style for error message {% endcomment %}
</head>
<body>
   <div class="container">
      <h2>Login</h2>
      <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          <!-- hidden input -->
           <input type="hidden" name="next" value="{{next}}">
           <div class="form-group">
              <label for="username">Username</label>
              <input type="text" name="username" id="username" required>
           </div>
           <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" required>
           </div>
           <button type="submit">Login</button>
      </form>
      <!-- check for error message -->
       {% if error %}
          <p class="error">{{ error }}</p>
       {% endif %}
       <p>Don't have an account? <a class="register-link" href="{% url 'register' %}">Register Here</a></p>
   </div>
</body>
</html>